@model Cats
@{
}
<form method="post" asp-action="Update" asp-controller="Home">
    <input type="hidden" name="id" value="@Model.Id" /><br />
    name:<input name="name" value="@Model.Name"/><br />
    Birth Date:<input name="Dbirth" value="@Model.Dbirth" /><br />
    Description:<input name="Description" value="@Model.Description" /><br />
    Price:<input name="Price" value="@Model.Price" /><br />
    <input type="submit" name="submit" />
</form>